
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;600&display=swap');

/* @font-face {
  font-family: Garet-Book;
  src: url(./fonts/Garet-Book.ttf);
}

@font-face {
  font-family: Garet-Heavy;
  src: url(./fonts/Garet-Heavy.ttf);
} */

/* @media print {
  body{
      width: 21cm;
      height: 29.7cm;
      margin: 30mm 45mm 30mm 45mm; 
 } 
} */

:root {
  --image-size: 4.5cm;
  --page-spacing: 40px;
  --right-container-padding: 20px;
  --right-container-top-offset: calc( calc(var(--image-size) / 3) + var(--right-container-padding));
  --image-line-offset: -9px;
  --image-line-color: #fff;
  --image-line-width: 3px;
  --container-line-color: #ccc;
  --container-line-width: 2px;
  --primary-font-color: rgb(30, 30, 30);
  --secondary-font-color: rgb(80, 80, 80);
  /* --primary-font-color: red;
  --secondary-font-color: blue; */
  --highlight-thickness: 50%;
  --primary-highlight-color: rgba(255, 208, 0, 0.4);
  --secondary-highlight-color: rgb(235,235,235);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Heebo', sans-serif;
  background: #121212;
  color: var(--primary-font-color);
}

span,
i {
  font-size: 20px !important;
  margin-right: 10px;
  color: var(--primary-font-color);
}

i {transform: translateY(-4%);}

a {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 50px;
  bottom: 50px;
  height: 50px;
  width: 50px;
  color: var(--primary-font-color);
  background: var(--secondary-highlight-color);
  border-radius: 50%;
  text-decoration: none;
}

a > span {
  margin: 0;
  padding: 0;
  font-size: 25px !important;
}

td,
th {
  vertical-align: top;
  padding: 6px 0;
}

ul {
  list-style: inside;
}

li {
  padding: 3px 0;
}

th {
  padding-right: 20px;
  color: var(--secondary-font-color);
}

.page {
  margin: 1cm auto;
  width: 21cm;
  height: 29.7cm;
}

.print-container {
  overflow: visible;
  padding: 1.7cm;
  display: flex;
  background: white;
  height: 100%;
  gap: var(--page-spacing);
}

.left-container,
.right-container {
  display: flex;
  flex-direction: column;
}

.left-container {
  flex: 2;
  margin-top: calc(var(--right-container-top-offset) - var(--right-container-padding));
}

.right-container {
  align-items: center;
  padding: var(--right-container-padding);
  flex: 1;
  border: var(--container-line-width) solid var(--container-line-color);
  margin-top: calc(var(--right-container-top-offset) - var(--right-container-padding));
}

.right-content {
  position: relative;
  top: calc(var(--right-container-top-offset) * -1);
  margin-top: 15px;
  padding: 0 15px;
}

img {
  position: relative;
  top: calc(var(--right-container-top-offset) * -1);
  width: var(--image-size);
  height: var(--image-size);
  outline: var(--image-line-width) solid var(--image-line-color);
  outline-offset: var(--image-line-offset);
}

/* img {
  transition: 150ms ease-in-out;
}

img:hover {
  outline: calc(var(--image-line-width) * 3) solid rgba(255, 255, 255, 0.6);
  outline-offset: calc(calc(var(--image-line-width) * 3) * -1);
} */

h1 {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  color: var(--primary-font-color);
}

h2 {
  font-size: 24px;
  font-weight: 300;
  color: var(--secondary-font-color);
  background: linear-gradient(transparent calc(100% - var(--highlight-thickness)), var(--secondary-highlight-color) var(--highlight-thickness));
  width: fit-content;
  padding-right: 20px;
  margin: 30px 0 20px 0;
}

.left-container:first-child {
  margin: 0 0 10px 0;
}

h3 {
  font-size: 18px;
  font-weight: 300;
  color: var(--secondary-font-color);
  background: linear-gradient(transparent calc(100% - var(--highlight-thickness)), var(--secondary-highlight-color) var(--highlight-thickness));
  width: fit-content;
  padding-right: 20px;
  margin: 35px 0 20px 0;
}

.ocupation {
  color: var(--secondary-font-color);
  font-size: 15px;
  text-align: center;
  font-weight: 300;
  background: linear-gradient(transparent calc(100% - var(--highlight-thickness)), var(--primary-highlight-color) var(--highlight-thickness));
  margin: 0 10px 35px 10px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 14px;
  color: var(--secondary-font-color);
}

.contact > div {
  display: flex;
  align-items: center;
  margin-left: -10px;
}
